In [1]:
import pandas as pd

In [14]:
train= pd.read_csv("./data/train.tsv", sep='\t')
val = pd.read_csv("./data/val.tsv", sep='\t')
test = pd.read_csv("./data/test.tsv", sep='\t')

#### 数据总览

In [42]:
train.describe()

           意图      语料
count   42346   42346
unique      9   35504
top        餐馆  好的，谢谢。
freq    12335     486

In [44]:
val.describe()

          意图      语料
count   4229    4229
unique     8    3811
top       餐馆  好的，谢谢。
freq    1214      52

In [45]:
test.describe()

          意图      语料
count   4238    4238
unique     8    3784
top       餐馆  好的，谢谢。
freq    1268      42

In [47]:
train['意图'].value_counts()

意图
餐馆       12335
景点       11930
酒店       11132
thank     5320
出租         745
地铁         698
没有意图       169
bye         14
greet        3
Name: count, dtype: int64

In [48]:
val['意图'].value_counts()

意图
餐馆       1214
景点       1195
酒店       1114
thank     540
出租         81
地铁         68
没有意图       16
bye         1
Name: count, dtype: int64

In [49]:
test['意图'].value_counts()

意图
餐馆       1268
景点       1171
酒店       1086
thank     529
地铁         84
出租         76
没有意图       23
bye         1
Name: count, dtype: int64

In [61]:
train['len'] = train['语料'].apply(lambda x:len(x))

In [64]:
train.sort_values(by="len").head(20)

          意图   语料  len
7742      出租    ？    1
29254     酒店    ?    1
16914   没有意图    好    1
24981   没有意图    ？    1
7260     bye   再见    2
27048     酒店   可以    2
4103   thank   谢谢    2
37705   没有意图   嗯。    2
38700    bye   再见    2
10546  thank   谢谢    2
22945  thank   谢谢    2
783     没有意图   ok    2
2305    没有意图   ok    2
32409  thank   谢谢    2
15225  greet   你好    2
12063  thank   谢谢    2
32021  thank  谢谢。    3
8003   thank  谢谢。    3
16475  thank  谢谢。    3
17902  thank  谢谢！    3

In [60]:
train.iloc[24981]

意图    没有意图
语料       ？
Name: 24981, dtype: object

In [9]:
labels = ["我","我","你","我","她"]

In [10]:
label_to_index = {label: idx for idx, label in enumerate(set(labels))}

In [11]:
label_to_index

{'你': 0, '我': 1, '她': 2}

In [17]:
import json

In [20]:
label_map = set(val["意图"])

In [24]:
str(label_map)

"{'出租', '地铁', 'bye', 'thank', '景点', '没有意图', '酒店', '餐馆'}"

In [65]:
import torch.nn as nn
transfor = nn.Transformer()

d:\anaconda3\envs\llama\Lib\site-packages\torch\nn\modules\transformer.py:306: UserWarning: enable_nested_tensor is True, but self.use_nested_tensor is False because encoder_layer.self_attn.batch_first was not True(use batch_first for better inference performance)
  warnings.warn(f"enable_nested_tensor is True, but self.use_nested_tensor is False because {why_not_sparsity_fast_path}")

In [1]:
data = [1,2,3,4]

In [10]:
data[:-1]

[]